@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: black;
  color: azure;
  font-family: 'Roboto', sans-serif;
}
.images {
  width: 200px;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  overflow: scroll;
}

.container {
  width: 100%;
}

/* For Webkit browsers (Chrome, Safari) */
.scroll-container {
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Webkit browsers */
}

.container > section:nth-of-type(4) {
  height: 230px;
}
h2 {
  font-size: 22px;
  margin: 10px;
}

.header > img {
  width: 120px;
  margin: 15px;
}
